
  /*I wrote this mobile first template myself */
  .jphamburger {
    position:fixed;
    display:block;
    top: 15px;
    right:10px;
    cursor: pointer;
    opacity:1;
    transition: all 1s;
  }
  .jphamburger.active {
    opacity:0;
    transform: rotate(90deg);
  }
  .jpclose {
      position:fixed;
      display:block;
      opacity:0;
      top:10px;
      right:10px;
      cursor:pointer;
      transition: all 1s;
  }
  .jpclose.active {
    opacity:1;
  }
  nav#jpnavbar {
    position: fixed;
    background-color: rgb(50, 77, 117);
    height: 70px;
    width: 100%;
    z-index: 1;
  }
  nav img.jplogo{
    position: relative;
    width:60px;
    left:calc(100% - 30px)
  }
 
  .logodiv {
      position:fixed;
      left:15px;
      object-fit: contain;
      z-index: 2;
      padding-top: 4.3px;
      width:60px;

  }

  #jpshowbar {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(50,77,117, 0.6);
    top: -300px;
    transition: .4s;
  }

  #jpnavbar ul  {
    list-style: none;
    color: #fff;
    font-size: 40px;
    margin: 100px 0 0 40vw;
    display:flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    left:-100px;
  }
  #jpnavbar ul li  {
    list-style: none;
    padding:400px 0 20 30vw;
    
  }

  
  .jpnavbar-links li a {
    position: relative;
    text-transform: uppercase;
    /*font-size:10px;*/
    text-decoration: none;
    transition: 2s;
    color: white;
    
    
  }
  .jpnavbar-links li a::before{ 
    /* This adds vertical pseudo elements to the navbar anchor tags. 
    which allows the hover line expand effect */
    content: "";
    display:block;
    position:fixed;
    margin:0 0 -30px -3px;
    width:2px;
    height:2px;
    border-radius: 10px;
    background: #fff;
    transition: all .1s;
  }
  .jpnavbar-links li a:hover::before {
    width:2px;
    height:40px;
    border-radius: 50px;
  }
  
  #jpshowbar.active {
    top: 0;
  }

  @media only screen and (min-width: 600px) { /*media query for any screen larger than mobile*/
    .jphamburger { 
      display:none;
    }
    .jpclose {
      display: none; /* Hides the SVG hamburger/close buttons when browser window is bigger than mobile phone!*/
    }

    #jpshowbar {
      position: absolute;
      width: 100%;
      height: 70px;
      background: rgb(50, 77, 117);
      top:0;
      
    }
    .jpnavbar-links {
      display: block;
    }
    #jpnavbar ul  {
      list-style: none;
      color: white;
      font-size: 20px;
      margin: 0px 0 0 10vw;
      display: flex;
      display:flex;
      flex-direction: row;
    }
    
    #jpnavbar ul li {
      list-style: none;
      padding:25px 0 0 10px; /* top right bottom left */
      margin: 0 0 0 10vw; /*top right bottom left */
      
    }
    .jpnavbar-links li a {
      padding: 25px 1vw 0 2px;
      font-size: calc(12px + 6 * ((100vw - 600px) / 680)) /* I included this to allow fluid typography */
     
   }
   .jpnavbar-links li a::before { /*Removes the mobile first vertical pseudo elements */
     content:none;
     border-radius: 10px;
     background: #fff;
     transition: all .1s;

   }
   .jpnavbar-links li a::after{ /*pseudo element to create horizontal hover effect on navbar links */
     content: "";
     display:block;
     width:0px;
     height:2px;
     border-radius: 10px;
     background: #fff;
     transition: all .3s;
   }
   .jpnavbar-links li a:hover::after{
     width:90%;
   }
   


  }
