.describePage {
    padding:10px
}

.description {
    display:flex;
    margin-top: 80px;
    padding:10px;
    flex-direction: column;
    align-items: center;
}
div.grid {
    display: flex;
    flex-direction: column;
}
div.grid img {
    max-width:90%;
    max-height:70%;
    padding-top:20px;
}
#show {
    display: block;
    position: relative;
    transition: all 0.2s;
    top:0px;
}






@media screen and (min-width:600px){
    div.grid {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 40%;
    }
    
    div.grid img {
        max-width: 100%;
        max-height: 90%;
        margin-left:10px;
        padding-top:30px

    }


}
