

div#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin:20px
}

div.mypic {
    border:1px solid black;
    overflow: hidden;
    height: 300px;
}

div.typingeff {
    position: relative;
    padding: 10px;
    background-color: black;
    margin-bottom: 60px;
    height:100px;
    width:80%;
}
div.typingeff h1{
    font-family: 'monospace';
    color:white;
}
div.typingeff h1::after{
    font-family: 'monospace';
    position: relative;
    color:white;
    content:'|';
    animation-name:blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#aboutme h2{
    margin:20px;
}

img.mypic {
    max-width:300px;
    max-height: 350px;
    transition: all 0.5s;
}
img.mypic:hover  {
    transform:scale(1.1)
    
}
div#aboutme {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
}
div#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.tech {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div.currenttech {
    display:flex;
    flex-direction: column;
    width:80%;
    margin-top:20px;
    background-color: rgb(9, 99, 141,0.4);
    align-items: center;
}

.currenttech ul {
    list-style-type:none;
    display:grid;
    grid-template-rows:30% 30% 30%;
    
}


div.futuretech {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin-top:20px;
    background-color: rgba(88, 160, 194, 0.9);
}
.futuretech ul {
    list-style-type: none;
    display:grid;
    grid-template-rows: auto auto;
}

@media screen and (min-width:700px){
    div#about {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        margin:60px
    }
    div.typingeff {
        position: relative;
        background-color: black;
        width:40%;
       
    }
    div.mypic {
        width: auto;
        height:350px;
    }
    div.tech {
        display:flex;
        flex-direction: row;
        
    }

    img.mypic {
        max-width:300px;
        max-height: 350px;
        
    }

   div.currenttech {
    
    width:45%;
    margin-left:20px;
    
  }

  div.futuretech {
    width:45%;
    margin-left:20px;
    margin-right:20px;
    position: relative;
  }
  .currenttech ul {
    display:flex;
    flex-direction: column;
  }
  .futuretech ul {
    display:flex;
    flex-direction: column;
  }
.currenttech ul li {
    margin-right: 100px;
}
}



@keyframes blink {
    0% {
        color:white;
    }
    50% {
      color:black;
    }
    100% {
        color:white;
      }
  }
    

