div.intro {
    position: relative;
    top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.projects >div  {
    padding: 10px;
    margin:10px 10px 10px 20px;
    width:50vw;
    height:250px;
    overflow: hidden;
    -webkit-box-shadow: 12px 9px 8px -2px #000000; 
    box-shadow: 12px 9px 8px -2px #000000;
}





.card1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(127,255,212,0.3); /*rgb127,255,212*/
    border:1px solid black;
    transition: all .5s;
    
    
}
.card1:hover {
    background-color: rgb(127,255,212,0.9); /*rgb127,255,212*/
    color:white;

}

.card2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205,133,63,0.3);/*rgb205, 133,63*/
    border:1px solid black;
    transition: all 1s;
    overflow: hidden;
    

}
.card2:hover {
    background-color: rgb(205,133,63,0.9);/*rgb205, 133,63*/
    color:wheat;
}
.card3 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216,112,147,0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card3:hover {
    background-color: rgb(216,112,147,0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}

.card4 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(63, 95, 237, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card4:hover {
    background-color: rgba(63, 95, 237, 0.9);/*rgb216,112,147*/
    color:white;
}

.card5 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 56, 169, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card5:hover {
    background-color: rgba(82, 56, 169, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}

.card6 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(17, 237, 212, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card6:hover {
    background-color: rgba(17, 237, 212, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}
.card7 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(237, 233, 17, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card7:hover {
    background-color: rgba(237, 233, 17, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}
.card8 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(237, 17, 208, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card8:hover {
    background-color: rgba(237, 17, 208, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}

img.screenshot {
    max-width:100%;
    max-height:150px;
   
}

@media screen and (min-width: 700px){

    div.projects{
        display: grid;
        grid-template-columns: 24% 24% 24% 24% ;
        align-items: center;
        justify-content: left;
        width:95vw;
    }
    div.projects >div  {
        padding: 1px;
        width:90%;
        height:280px;
        word-wrap: normal;
        white-space: pre-wrap;
        -webkit-box-shadow: 12px 9px 8px -2px #000000; 
        box-shadow: 12px 9px 8px -2px #000000;

    }
    img.screenshot {
        max-width:100%;
        max-height:50%;
    }

}

