div.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.card1 {
    background-color: rgb(127,255,212,0.3); /*rgb127,255,212*/
    border:1px solid black;
    transition: all .5s;
    
    
}
.card1:hover {
    background-color: rgb(127,255,212,0.9); /*rgb127,255,212*/
    color:rgb(42, 168, 241);
    z-index: 1;

}

.card2 {
    background-color: rgb(205,133,63,0.3);/*rgb205, 133,63*/
    border:1px solid black;
    transition: all 1s;
    overflow: hidden;
    

}
.card2:hover {
    background-color: rgb(205,133,63,0.9);/*rgb205, 133,63*/
    color:wheat;
}

.card2:hover img{
    transform: scale(1.8);
}
.card3 {
    background-color: rgb(216,112,147,0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card3:hover {
    background-color: rgb(216,112,147,0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}

.card4 {
    background-color: rgba(63, 95, 237, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card4:hover {
    background-color: rgba(63, 95, 237, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}

.card5 {
    background-color: rgba(82, 56, 169, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card5:hover {
    background-color: rgba(82, 56, 169, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}

.card6 {
    background-color: rgba(17, 237, 212, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card6:hover {
    background-color: rgba(17, 237, 212, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}
.card7 {
    background-color: rgba(237, 233, 17, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card7:hover {
    background-color: rgba(237, 233, 17, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}
.card8 {
    background-color: rgba(237, 17, 208, 0.5);/*rgb216,112,147*/
    border:1px solid black;
    transition: all 1s;
}
.card8:hover {
    background-color: rgba(237, 17, 208, 0.9);/*rgb216,112,147*/
    clip-path: circle(300px);
}

img.screenshot {
    max-width:150px;
    max-height:200px;
}

@media screen and (min-width: 700px){

    div.projects{
        display: grid;
        grid-template-columns: 24% 24% 24% 24% ;
        align-items: center;
        justify-content: left;
        border:1px solid paleturquoise;
        margin:0px 100px
    }
    div.projects >div  {
        padding: 10px;
        margin:10px 0.2vw 10px 20px;
        width:20vw;
        height:280px;
    }

}

