div.title {
    display:flex;
    align-items:center;
    justify-content: center;
}


h1.coinpair {
    position:relative;
    font-size:calc(16px + 5vw);
    width: 80%;
    color: #1fcea2;
    border:1px solid black;
    transition: all .3s;
}
h1.coinpair:hover {
    transform: scale(1.2);
}

.tooltip{
    position: relative;
    border: 1px solid black;
    width:300px;
    height:100px;
    border-radius:10px;
    background-color: rgb(127,255,124,0.6);
    opacity:1;
}
#my_dataviz{
    border:1px solid black;
    width:100%;
}
img.coinlogo {
    max-width: 10vw;
    max-height:100px;
}
