@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Press+Start+2P&family=Roboto&family=Thasadith&display=swap');


.App {
  text-align: center;
}



body {
  margin: 0;
  font-family: 'Thasadith', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d2e3e9;
  color:black;
  
}

